{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/logo.jpg' %}" alt="yinkcomerce logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav m-auto">
          <li class="nav-item mx-4">
            <a class="nav-link" href="{% url 'index' %}">HOME</a>
          </li>
          
         
          <li class="nav-item mx-4">
            <a class="nav-link" href="#clothing">CLOTHING</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item mx-4">
            <a class="nav-link btn btn-danger" href="{% url 'logoutuser' %}">LOGOUT</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link " href="{% url 'profile' %}"><i class="bi bi-gear"></i> Profile </a>
          </li>
          {% else %}
          <li class="nav-item mx-4">
            <a class="nav-link" href="{% url 'login' %}">LOGIN | REGISTERR</a>
          </li>
          {% endif %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myCart' %}">My Cart {{count}}<i class="bi bi-cart text-white"></i> </a>
          </li>

        </ul>
        <form class="d-flex" action="{% url 'search' %}" method="get">
          <input class="form-control me-2" type="text" name="keyword" placeholder="Search products ..">
          <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
</nav>